<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h2>Successful Transaction!</h2>
	<p>
		<ul>
			<li>Order ID: <%= @order.id %></li>
			<li>Event Name: <%= @order.event.name %></li>
		</ul>
		<ul>
			<li>Tickets Total: <%= @order.amount %></li>
			<li>Commission Paid: <%= @order.total_commission %></li>
			<li>Order Total (inc fees): <%= @order.buyers_amount %></li>
		</ul>
		<ul>
			<li>Paypal Commission: <%= @order.paypal_commision %></li>
			<li>Dingo Commission: <%= @order.dingo_commision %></li>
		</ul>
	</p>
  </body>
</html>