<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h2>A new event has been created!</h2>
    <p>
    	<div>Event <a href="http://dingoapp.herokuapp.com/admin/events/<%=@event.id%>">details</a>:</div>
    	<ul>
    		<li>ID: <%= @event.id %></li>
    		<li>Event Name: <%= @event.name %></li>
    		<li>Date: <%= @event.date %></li>
    		<li>Created By: <%= @event.created_by.name %></li>
    	</ul>
    </p>
  </body>
</html>